In [1]:
import os
import pandas as pd

In [3]:
dfs = []
for f in os.listdir():
    if f.endswith('xlsx'): 
        dfs += [pd.read_excel(f,index_col=None)]
len(dfs)

4

In [6]:
print(dfs[0].shape)
dfs[0].head()

(32173, 6)

    Stkcd      Reptdt      Nshrttl  Nshrstt    Nshremp    Nshrsms
0   证券代码'     统计截止日期'        股本总数'  其中：国有股'  其中：内部职工股'  其中：高管持股数'
1   没有单位'       没有单位'           股'       股'         股'         股'
2  000001  2017-12-31  17170411366        0          0      23866
3  000001  2016-12-31  17170411366        0          0      17587
4  000001  2015-12-31  14308676139        0          0      14657

In [7]:
print(dfs[1].shape)
dfs[1].head()

(17145, 38)

,Stkcd,Reptdt,Stknme,Listexg,Conme,Nindcd,Nindnme,Regadd,Area,Province,...,Hdirrt,Prestw3,Vmntw3,A002100000,A001000000,B001100000,B002000000,T40801,Ucsbg,Chmap
0,证券代码',统计截止日期',证券简称',上市交易所',公司中文全称',行业代码',行业名称',公司注册地址',地区',省份',...,总经理持股比例(%)',董事前三名薪酬总额',高管前三名薪酬总额',流动负债',总资产',营业收入',净利润',净资产收益率(%)',实际控制人背景',控制链图'
1,没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',...,没有单位',元',元',元',元',元',元',没有单位',没有单位',没有单位'
2,000004,2003-12-31,北大高科,2,深圳市北大高科技股份有限公司,G54,道路运输业,深圳市蛇口新时代广场27楼A-D,华南,广东省,...,0.0519,440000,900000,9.94558e+07,2.37875e+08,1.19535e+08,7.64138e+06,0.0595,北京大学为北京北大未名生物工程集团的控股股东。,NaN
3,000004,2004-12-31,北大高科,2,深圳市北大高科技股份有限公司,G54,道路运输业,深圳市蛇口新时代广场27楼A-D,华南,广东省,...,0.0519,450000,930000,8.11425e+07,2.1427e+08,1.06748e+08,-3.28293e+06,-0.0268,北京大学为北京北大未名生物工程集团的控股股东。,NaN
4,000004,2005-12-31,国农科技,2,深圳中国农大科技股份有限公司,G54,道路运输业,深圳市蛇口新时代广场27楼A-D,华南,广东省,...,0,440000,660000,5.51325e+07,1.55869e+08,6.13767e+07,-1.85774e+07,-0.1859,NaN,NaN

In [8]:
print(dfs[2].shape)
dfs[2].head()

(15850, 7)

,Symbol,EndDate,RDPerson,RDPersonRatio,RDSpendSum,RDSpendSumRatio,Explanation
0,证券代码',统计截止日期',研发人员数量',研发人员数量占比(%)',研发投入金额',研发投入占营业收入比例(%)',说明'
1,没有单位',没有单位',人',没有单位',没有单位',没有单位',没有单位'
2,000004,2017-12-31,23,13.77,5.15397e+06,3.72,"本期研发费用中,内部研发费用3,153,966.37元,外部研发费用2,000,000元,全..."
3,000004,2016-12-31,NaN,NaN,9.2444e+06,NaN,NaN
4,000005,2016-12-31,NaN,NaN,1.68114e+07,NaN,NaN

In [9]:
print(dfs[3].shape)
dfs[3].head()

(39037, 11)

,Symbol,EndDate,IndustryCode,IndustryName,TotalAssets,TotalLiability,IntangibleAsset,NetProfit,OperatingEvenue,OperatingCost,OperationProfit
0,证券代码',年度区间',行业代码',行业名称',总资产',总负债',无形资产',净利润',营业收入',营业成本',营业利润'
1,没有单位',没有单位',没有单位',没有单位',元',元',元',元',元',元',元'
2,000001,2017-12-31,J66,货币金融服务,3248474000000,3026420000000,4701000000,23189000000,NaN,NaN,30223000000
3,000001,2016-12-31,J66,货币金融服务,2953434000000,2751263000000,4771000000,22599000000,NaN,NaN,29779000000
4,000001,2015-12-31,J66,货币金融服务,2507149000000,2345649000000,4961000000,21865000000,NaN,NaN,28895000000

In [10]:
dfs[0] = dfs[0].rename(columns={'Stkcd':'Symbol','Reptdt':'EndDate'})
dfs[0].head()

   Symbol     EndDate      Nshrttl  Nshrstt    Nshremp    Nshrsms
0   证券代码'     统计截止日期'        股本总数'  其中：国有股'  其中：内部职工股'  其中：高管持股数'
1   没有单位'       没有单位'           股'       股'         股'         股'
2  000001  2017-12-31  17170411366        0          0      23866
3  000001  2016-12-31  17170411366        0          0      17587
4  000001  2015-12-31  14308676139        0          0      14657

In [11]:
dfs[1] = dfs[1].rename(columns={'Stkcd':'Symbol','Reptdt':'EndDate'})
dfs[1].head()

,Symbol,EndDate,Stknme,Listexg,Conme,Nindcd,Nindnme,Regadd,Area,Province,...,Hdirrt,Prestw3,Vmntw3,A002100000,A001000000,B001100000,B002000000,T40801,Ucsbg,Chmap
0,证券代码',统计截止日期',证券简称',上市交易所',公司中文全称',行业代码',行业名称',公司注册地址',地区',省份',...,总经理持股比例(%)',董事前三名薪酬总额',高管前三名薪酬总额',流动负债',总资产',营业收入',净利润',净资产收益率(%)',实际控制人背景',控制链图'
1,没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',...,没有单位',元',元',元',元',元',元',没有单位',没有单位',没有单位'
2,000004,2003-12-31,北大高科,2,深圳市北大高科技股份有限公司,G54,道路运输业,深圳市蛇口新时代广场27楼A-D,华南,广东省,...,0.0519,440000,900000,9.94558e+07,2.37875e+08,1.19535e+08,7.64138e+06,0.0595,北京大学为北京北大未名生物工程集团的控股股东。,NaN
3,000004,2004-12-31,北大高科,2,深圳市北大高科技股份有限公司,G54,道路运输业,深圳市蛇口新时代广场27楼A-D,华南,广东省,...,0.0519,450000,930000,8.11425e+07,2.1427e+08,1.06748e+08,-3.28293e+06,-0.0268,北京大学为北京北大未名生物工程集团的控股股东。,NaN
4,000004,2005-12-31,国农科技,2,深圳中国农大科技股份有限公司,G54,道路运输业,深圳市蛇口新时代广场27楼A-D,华南,广东省,...,0,440000,660000,5.51325e+07,1.55869e+08,6.13767e+07,-1.85774e+07,-0.1859,NaN,NaN

In [13]:
max_row, total_column=max([v.shape[0] for v in dfs]),sum([v.shape[1] for v in dfs])
max_row,total_column

(39037, 62)

In [15]:
df = dfs[0].merge(dfs[1],how='outer').merge(dfs[2],how='outer').merge(dfs[3],how='outer')
print(df.shape)
df.head()

(39659, 56)

,Symbol,EndDate,Nshrttl,Nshrstt,Nshremp,Nshrsms,Stknme,Listexg,Conme,Nindcd,...,Explanation,IndustryCode,IndustryName,TotalAssets,TotalLiability,IntangibleAsset,NetProfit,OperatingEvenue,OperatingCost,OperationProfit
0,证券代码',统计截止日期',股本总数',其中：国有股',其中：内部职工股',其中：高管持股数',证券简称',上市交易所',公司中文全称',行业代码',...,说明',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,没有单位',没有单位',股',股',股',股',没有单位',没有单位',没有单位',没有单位',...,没有单位',没有单位',没有单位',元',元',元',元',元',元',元'
2,000001,2017-12-31,17170411366,0,0,23866,NaN,NaN,NaN,NaN,...,NaN,J66,货币金融服务,3248474000000,3026420000000,4701000000,23189000000,NaN,NaN,30223000000
3,000001,2016-12-31,17170411366,0,0,17587,NaN,NaN,NaN,NaN,...,NaN,J66,货币金融服务,2953434000000,2751263000000,4771000000,22599000000,NaN,NaN,29779000000
4,000001,2015-12-31,14308676139,0,0,14657,NaN,NaN,NaN,NaN,...,NaN,J66,货币金融服务,2507149000000,2345649000000,4961000000,21865000000,NaN,NaN,28895000000

In [16]:
df.to_excel('out_join.xlsx')